
/* ROOT */
:root{
        --header-bg-color: #004047;
        --main-bg-color: #002529;
        --main-text-color: #fff;
        --aside-bg-color: #F67E7E;
        --teams-bg-color:#012F34;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/****************** HEADER STYLES START *******************/
.site-header{
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: #014E56;
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__start{
    display: flex;
    align-items: center;
}

.site-header__logo-img{
    width: 159px;
    height: 40px;
    margin-right: 80px;
}

.sitenav-list{
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sitenav-item{
    margin-right: 40px;
}

.sitenav-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;    
}

.site-header__btn{
    padding: 9px 33px 11px 32px;
    border: 2px solid #fff;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}
/****************** HEADER STYLES END *******************/


/******************* MAIN STYLES START   ******************/
.site-main{
    background-color: #fff;
}
/******************* HERO SECTION  STYLES START   ******************/
.hero-section {
    background-color: #014E56;
    background-image: url(../images/hero-bg__left.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -100px 185px;

}

.hero-section__wrapper{
    padding-top: 100px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-image: url(../images/hero-bg__bottom.png);
    background-repeat: no-repeat;
    background-position: right  bottom  -100px;
    background-size:  358px 200px;
}

.hero-section__title{
    width: 620px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
.hero-section__end{
    display: flex;
    flex-direction: column;
    gap: 61px;
}
.line{
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}

.hero-section__desc{
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

/******************* HERO SECTION STYLES  END      ******************/

/*************** SITE INFO START *************/
.site-info__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 140px;
}

.site-info {
    background-color: #012F34;
    position: relative;
}

.site-info__start--hr {
    margin: 0px;
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
    border: none;
    margin-bottom: 54px;
}

.site-info__start--title {
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}


.site-info__end--item {
    list-style-type: none;
    position: relative;
    padding-left: 23px;
}


.site-info__end--item:nth-child(1) h5{
    margin-top: 58px;
}



.site-info__end--heading {
    width: 445px;
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.site-info__end--subtitle {
    width: 445px;
    margin: 0px;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
/*************** SITE INFO END *************/

/********** READY SECTION SYTLES START *********/
.ready-section {
    width: 100%;
    background-color: #F67E7E;
    background-image: url('/images/ready-bg-img.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .ready-section {
        background-image: url('/images/ready-bg-img@2x.png');
    }
}



.ready-section__wrapper {
    padding-top: 76px;
    padding-bottom: 86px;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ready-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    color: var(--build-bg--color);
}

.ready-section__btn {
    padding: 9px 33px 11px 32px;
    border: 2px solid var(--build-bg--color);
    border-radius: 24px;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    color: var(--build-bg--color);
}

.ready-section__btn:hover {
    background-color: #fff;
}

/********** READY SECTION SYTLES END *********/

 /* DELIVERING SECTION STYLE START */
 .delivering{
    padding: 140px 0 151px 0;
    background-color: var(--header-bg-color);
    overflow: hidden;
}
.delivering__wrapper{
    position: relative;
    text-align: center;
}
.delivering__wrapper__title{
    width: 932px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);  
}
.delivering__wrapper__title-words{
    color: #79C8C7;
}
.delivering__wrapper__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.delivering__wrapper__item{
    position: relative;
    padding-top: 36px;
    background-image: url(../images/qoshtirnoq.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.delivering__wrapper__item__desc{
   margin-top: 0;
   margin-bottom: 24px;
   font-size: 15px;
   line-height: 25px;
   color: var(--main-text-color);
}
.delivering__wrapper__item__link{
    margin-bottom: 2px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
}
.delivering__wrapper__item__job{
    display: block;
    margin-top: 0;
    margin-bottom:32px ;
    font-size: 13px;
    line-height: 18px;
    color: var(--main-text-color);
}
.delivering__wrapper__imgs-top{
    position: absolute;
    top: -140px;
    left:-205px;
}
.delivering__wrapper__lines-top{
    position: absolute;
    right: -47px;
    top: 56px;
}
.delivering__wrapper__imgs-bottom{
    position: absolute;
    right: -18.46%;
    bottom: -170px;
}
.delivering__wrapper__disk{
    position: absolute;
    width: 100px;
    height: 200px;
    right: 50px;
    bottom:-47px;
    transform: rotate(90deg);
}
.delivering__wrapper__lines-bottom{
    position: absolute;
    z-index: 1;
    bottom:0;
    right: 0;
}
@media screen and (max-width:1225px){
    .delivering__wrapper__imgs-top{
        left: -55px;
    }
    .delivering__wrapper__imgs-bottom{
        right: -55px;
    }
}
@media screen and (max-width:1040px){
    .delivering__wrapper__title{
        width: 50%;
        font-size: 32px;
    }
    .delivering__wrapper__list{
        flex-direction: column;
        gap: 48px;
    }
    .delivering__wrapper__item{
        width: 70%;
    }
    .delivering__wrapper__imgs-top{
        left: -20px;
    }
    .delivering__wrapper__imgs-bottom{
        right: -20px;
    }  
}
@media screen and (max-width:768px){

    .delivering__wrapper__item{
        width: 78%;
    } 
    .delivering__wrapper__title{
        width: 60%;
        font-size: 32px;
    } 
}
@media screen and (max-width:500px){

    .delivering__wrapper__item{
        width: 100%;
    } 
    .delivering__wrapper__title{
        width: 100%;
        font-size: 32px;
    } 
}

/* DELIVERING SECTION STYLE END */
/*************** MAIN STYLES END *************/

/* FOOTER STYLES START */
.site-footer{
    background-color: #012F34;
}
.site-footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding:48px 0;
}
.site-footer__start{
    display: flex;
    gap: 125px;
}
.site-footer__list{
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.site-footer__item{
    display: inline-block;
    margin-top: 25px;
}
.site-footer__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}
.site-address__list{
    margin: 0;
    padding: 0;
}
.site-address__item{
    display: block;
    margin-bottom:  1px;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.site-address__link{
    text-decoration: none;
    color: #fff;
}


.site-footer__icon{
    display: flex;
    padding-left: 160px;
    gap: 16px;
}
.site-footer__year-title{
    font-size: 15px;
    line-height: 25px;
    margin-top: 51px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.site-footer__icon-planshet{
    display: flex;
    display: none;
}
.site-footer__address-planshet{
    display: none;
}
.site-footer__end{
    text-align: right;
    
}
@media only screen and (max-width:768px){
     

    .site-footer__start{
        flex-direction: column;
        gap: 35px;
    }

    .site-footer__address{
        display: none;
    }
    .site-footer__address-planshet{
        display: block;
    }
   .site-header__logo{
    width: 96px;
    height: 24px;
   }
   
   .site-footer__link{
    font-size: 15px;    
   }

   .site-footer__icon{
     display: none;
   } 
   .site-footer__icon-planshet{
    display: flex;
    gap: 16px;
   }

   .site-footer__list{
    gap: 24px;
   }
}


@media only screen and (max-width:375px){

    .site-footer__wrapper{
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .site-footer__start{
        gap: 24px;
        text-align: center;
        align-items: center;
    }

    .site-footer__end{
        text-align: center;
    }

    .site-footer__icon{
        display: flex;
        padding-left: 73px;
        gap: 16px;
      } 
      .site-footer__icon-planshet{
       display: none; 
      }

      .site-footer__address{
        display: block;
    }
    .site-footer__address-planshet{
        display: none;
    }

}

/* FOOTER STYLES END */
