
/* ROOT */
:root{
    /* --header-bg-color: #fff; */
    /* --main-bg-color: #fff; */
    /* --main-text-color: #fff; */
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/****************** HEADER STYLES START *******************/
.site-header{
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: #014E56;
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__start{
    display: flex;
    align-items: center;
}

.site-header__logo-img{
    width: 159px;
    height: 40px;
    margin-right: 80px;
}

.sitenav-list{
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sitenav-item{
    margin-right: 40px;
}

.sitenav-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;    
}

.site-header__btn{
    padding: 9px 33px 11px 32px;
    border: 2px solid #fff;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
}
/****************** HEADER STYLES END *******************/

/******************* MAIN STYLES START   ******************/


/******************* HERO SECTION  STYLES START   ******************/
.hero-section {
    background-color: #014E56;
    background-image: url(../images/disk-hero-bg.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -100px 185px;
}

.hero-section__wrapper{
    padding-top: 129px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-image: url(../images/disk-bottom.png);
    background-repeat: no-repeat;
    background-position: right  bottom  -100px;
    background-size:  358px 200px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero-section{
        background-image: url(../images/disk-hero-bg@2x.png);
    }
    .hero-section__wrapper{
        background-image: url(../images/disk-bottom@2x.png);
    }
}
.hero-section__title{
    width: 620px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
.hero-section__end{
    display: flex;
    flex-direction: column;
    gap: 61px;
}
.line{
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}

.hero-section__desc{
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .hero-section{
        background-image: none;
    }
    .hero-section__wrapper{
        flex-direction: column;
        gap: 24px;
        text-align: center;
        background-position: bottom -100px center;
    }

    .hero-section__title{
        width: 350px;
        font-size: 64px;
        margin-bottom: 0;
        line-height: 56px;
    }

    .line{
        display: none;
    }

    .hero-section__desc{
        width: 457px;
        margin-top: 0;
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .hero-section__title{
        width: 248px;
        font-size: 40px;
        line-height: 40px;
    }

    .hero-section__desc{
        width: 327px;
    }
}

/******************* HERO SECTION STYLES  END      ******************/
